.quality-products {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 80px;
  margin-top: 30px;
  margin-bottom: 20px;
}
@media screen and (max-width: 576px) {
  .quality-products {
    grid-template-columns: repeat(1, 1fr);
  }
  .quality{
    width: 50%;
  }
}
